{% extends "dashboard/layout.html" %}
{% set active_page = "index" -%}

{% block body %}
<div id="next_events"></div>

{% endblock %}

{% block extra_javascripts %}
    <script src="{{ url_for('static', filename = 'js/index.js')}}"></script>
{% endblock %}
