{% set active_page = active_page|default('rooms') -%}

<html lang="en">
<head>
    <meta charset="utf-8">

    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Expires" content="0"/>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="CERN Webcast Team">

    <title>Opencast Tools - {{ is_dev }}</title>
    <link href="{{ url_for('static', filename='css/dashboard.css') }}" rel="stylesheet"/>

</head>
<body>
    <p>
        Opencast Tools.
    </p>
</body>
</html>
