<html>
  <head>
    <title>Login page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container">
      <h1>Please login with a valid token</h1>
      <br>
      <form action="" method="post">
        <input type="text" placeholder="token" name="token" value="{{
          request.form.token }}">
        <input class="btn btn-default" type="submit" value="login">
      </form>
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
    </div>
  </body>
</html>