<html>
  <head>
    <title>OCTools - token page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container">
      <h1>Please enter a valid user and API key to get a 5 minutes token.</h1>
      <br>
      <form action="" method="post">
        <input type="text" placeholder="Username" name="username" value="{{
          request.form.username }}">
        <input type="text" placeholder="Token" name="token" value="{{
          request.form.token }}">          
        <input class="btn btn-default" type="submit" value="Get Token">
      </form>
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
    </div>
  </body>
</html>